# Introduction to R and Jupyter Notebooks

------------------------

Welcome to the first module on Data Analysis and Visualization in R. In this module, we'll introduce you to the basics of R programming and how to use Jupyter Notebooks for interactive coding and data analysis.

## Learning Objectives

1. [Introduction to R and Jupyter Notebooks](#introduction)
2. [Basic R Syntax](#basic-syntax)
3. [Data Structures in R](#data-structures)
4. [Data Import/Export](#data-import-export)
5. [Practical Exercises](#exercises)
6. [Quiz](#quiz)

---

<a id='introduction'></a>
## 1. Introduction to R and Jupyter Notebooks

### What is R?

R is a programming language and software environment specifically designed for statistical computing and graphics. It's widely used among statisticians and data analysts for data analysis and developing statistical software.

### What are Jupyter Notebooks?

Jupyter Notebooks provide an interactive environment where you can combine code execution, rich text, mathematics, plots, and media. They are great for exploratory data analysis, sharing code, and creating interactive tutorials.

### Why Use R in Jupyter Notebooks?

- **Interactive Coding**: Run code snippets and see results immediately.
- **Visualization**: Easily create and display plots inline.
- **Documentation**: Combine code with explanations, making it ideal for learning and sharing.

---

<a id='basic-syntax'></a>
## 2. Basic R Syntax

Let's start by learning some basic R syntax. 

### Variables and Data Types

In R, you can assign values to variables using the `<-` operator or the `=` sign. For example, `x <- 10` or `x = 10`.

#### Step 1: Assigning Numeric Values

To run the cell click the play button at the top of tab window or use "shift + enter"

In [4]:
# Assigning numeric values
x <- 10           # Assigning an integer value to variable x
y <- 5.5          # Assigning a floating-point number to variable y

#### Step 2: Assigning a Character String

In [1]:
# Assigning a character string
name <- "John Doe"  # Assigning a character string to variable name

#### Step 3: Assigning a Logical Value

In [2]:
# Assigning a logical value
is_student <- TRUE   # Assigning a logical value (TRUE or FALSE) to variable is_student

#### Step 4: Accessing the Variables

You can access the value of a variable by simply typing its name or using the `print()` function.

In [5]:
# Accessing variables
x            # Outputs the value of x
print(y)     # Outputs the value of y
name         # Outputs the value of name
print(is_student)   # Outputs the value of is_student

[1] 10

[1] 5.5

[1] "John Doe"

[1] TRUE

#### Step 5: Checking Data Types

The `class()` function returns the data type of the variable.

In [6]:
# Checking data types
class(x)          # Should be "numeric"
class(y)          # Should be "numeric"
class(name)       # Should be "character"
class(is_student) # Should be "logical"

[1] "numeric"

[1] "numeric"

[1] "character"

[1] "logical"

### Basic Arithmetic Operations

You can perform arithmetic operations using standard operators.

#### Addition

In [7]:
# Addition
sum <- x + y
sum     # Outputs the sum

[1] 15.5

In [8]:
# Alternatively
print(sum)

[1] 15.5

In [9]:
# Adding context
print(paste("Sum:", sum))

[1] "Sum: 15.5"

#### Subtraction

In [10]:
# Subtraction
difference <- x - y
print(paste("Difference:", difference))

[1] "Difference: 4.5"

#### Multiplication

In [11]:
# Multiplication
product <- x * y
print(paste("Product:", product))

[1] "Product: 55"

#### Division

In [12]:
# Division
quotient <- x / y
print(paste("Quotient:", quotient))

[1] "Quotient: 1.81818181818182"

#### Exponentiation

In [13]:
# Exponentiation
power <- x ^ 2
print(paste("Power:", power))

[1] "Power: 100"

---

<a id='data-structures'></a>
## 3. Data Structures in R

R has several data structures to store and manipulate data.

### Vectors

A vector is a sequence of data elements of the same basic type.

#### Creating Numeric Vectors

In [14]:
# Numeric vector
numbers <- c(1, 2, 3, 4, 5)
numbers    # Outputs the vector

[1] 1 2 3 4 5

#### Creating Character Vectors

In [15]:
# Character vector
fruits <- c("apple", "banana", "cherry")
fruits    # Outputs the vector

[1] "apple"  "banana" "cherry"

#### Creating Logical Vectors

In [16]:
# Logical vector
flags <- c(TRUE, FALSE, TRUE, TRUE)
flags     # Outputs the vector

[1]  TRUE FALSE  TRUE  TRUE

#### Accessing Vector Elements

In [17]:
# Accessing elements
numbers[3]      # Outputs the third element
numbers[-3]     # Outputs all elements except the third
numbers[2:4]    # Outputs elements from second to fourth

[1] 3

[1] 1 2 4 5

[1] 2 3 4

### Matrices

A matrix is a two-dimensional array where each element has the same data type.  The matrix is filled out top to bottom, left to right.

In [18]:
# Creating a matrix
mat <- matrix(1:9, nrow = 3, ncol = 3)
mat     # Outputs the matrix

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### Lists

A list is a collection of objects that can be of different types.

#### Creating a List

In [19]:
# Creating a list
my_list <- list(name = "Alice", age = 25, scores = c(90, 85, 92))
my_list     # Outputs the list

$name
[1] "Alice"

$age
[1] 25

$scores
[1] 90 85 92

#### Accessing List Elements

In [20]:
# Accessing list elements
my_list$name
my_list$age
my_list$scores

[1] "Alice"

[1] 25

[1] 90 85 92

### Data Frames

A data frame is a table where each column can contain different types of data.

#### Creating a Data Frame

In [21]:
# Creating a data frame
df <- data.frame(
  id = 1:3,
  name = c("John", "Jane", "Doe"),
  score = c(88, 92, 95)
)
df     # Outputs the data frame

  id name score
1 1  John 88
2 2  Jane 92
3 3  Doe  95

#### Accessing Data Frame Elements

In [22]:
# Accessing a column by name
df$name

[1] "John" "Jane" "Doe"

In [23]:
# Accessing a row by index
df[2, ]    # Outputs the second row

  id name score
2 2  Jane 92

In [24]:
# Accessing a specific element
df[2, "score"]   # Outputs the score of the second row

[1] 92

---

<a id='data-import-export'></a>
## 4. Data Import/Export

### Reading Data from Files

You can read data from various file formats.

#### Reading a CSV File

In [2]:
# Reading a CSV file
data <- read.csv("assets/data/sample_data.csv")
head(data)   # Displays the first few rows

  ID Name          Age Salary Department
1 1  John Smith    32  55000  Sales
2 2  Emma Johnson  28  62000  Engineering
3 3  Michael Brown 45  71000  Marketing
4 4  Sarah Davis   36  58000  Sales
5 5  James Wilson  41  65000  Engineering

#### Reading an Excel File

In [9]:
# Reading an Excel file
# Uncomment and run these lines if you have Excel files to read
install.packages("readxl")
# library(readxl)
# data <- read_excel("data/sample_data.xlsx")
# head(data)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

### Writing Data to Files

#### Writing to a CSV File

In [4]:
# Writing to a CSV file
write.csv(data, "output_data.csv", row.names = FALSE)

#### Writing to an Excel File

In [8]:
# Writing to an Excel file
install.packages("writexl")
library(writexl)
write_xlsx(data, "output_data.xlsx")

Warning message in install.packages("writexl"):
“installation of package ‘writexl’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

ERROR: Error in library(writexl): there is no package called ‘writexl’

In [10]:
install.packages("writexl", repos="http://cran.us.r-project.org", verbose=TRUE)

system (cmd0): /opt/conda/envs/r_base/lib/R/bin/R CMD INSTALL

foundpkgs: writexl, /var/tmp/RtmpzYgq0q/downloaded_packages/writexl_1.5.1.tar.gz

files: /var/tmp/RtmpzYgq0q/downloaded_packages/writexl_1.5.1.tar.gz

Warning message in install.packages("writexl", repos = "http://cran.us.r-project.org", :
“installation of package ‘writexl’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

---

<a id='exercises'></a>
## 5. Practical Exercises

Now it's time to apply what you've learned!

### Exercise 1: Basic Calculations

**Task**: Create two variables, `a` and `b`, assign them the values 15 and 7 respectively. Calculate their sum, difference, product, and quotient.

#### Your Code Here

In [30]:
a = 15
b = 7

print(a+b)
print (a-b)
print (a*b)
print (a/b)

[1] 22
[1] 8
[1] 105
[1] 2.142857

<details>
<summary><strong>Hint:</strong> Click to expand</summary>

- Use the `<-` operator to assign values.
- Perform arithmetic operations using `+`, `-`, `*`, `/`.

</details>

<details>
<summary><strong>Solution:</strong> Click to expand</summary>

```R
# Assigning values
a <- 15
b <- 7

# Calculating sum
sum <- a + b
print(paste("Sum:", sum))

# Calculating difference
difference <- a - b
print(paste("Difference:", difference))

# Calculating product
product <- a * b
print(paste("Product:", product))

# Calculating quotient
quotient <- a / b
print(paste("Quotient:", quotient))
```

</details>

---

### Exercise 2: Working with Vectors

**Task**: Create a numeric vector `temps` containing the following temperatures in Celsius: 23, 25, 19, 22, 20, 18, 24. Calculate the mean temperature.

#### Your Code Here

In [ ]:
temp

<details>
<summary><strong>Hint:</strong> Click to expand</summary>

- Use `c()` to create the vector.
- Use the `mean()` function to calculate the average.

</details>

<details>
<summary><strong>Solution:</strong> Click to expand</summary>

```R
# Creating the vector
temps <- c(23, 25, 19, 22, 20, 18, 24)

# Calculating the mean temperature
mean_temp <- mean(temps)
print(paste("Mean Temperature:", mean_temp))
```

</details>

---

### Exercise 3: Data Frame Manipulation

**Task**: Create a data frame `students` with the following data:

- **Names**: "Alice", "Bob", "Charlie"
- **Ages**: 24, 22, 23
- **Scores**: 90, 85, 88

Add a new column `Passed` which is `TRUE` if the score is 85 or above.

#### Your Code Here

In [ ]:
# Your code here

<details>
<summary><strong>Hint:</strong> Click to expand</summary>

- Use `data.frame()` to create the data frame.
- Use a logical condition to create the `Passed` column.

</details>

<details>
<summary><strong>Solution:</strong> Click to expand</summary>

```R
# Creating the data frame
students <- data.frame(
  Names = c("Alice", "Bob", "Charlie"),
  Ages = c(24, 22, 23),
  Scores = c(90, 85, 88)
)

# Adding the Passed column
students$Passed <- students$Scores >= 85

# Displaying the data frame
print(students)
```

</details>